<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}FormaHub 2.0{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/app.css') }}">
</head>
<body>
  <header class="topo">
    <div class="container">
      <a class="marca" href="/">FormaHub 2.0</a>
    </div>
  </header>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
